[[local|localrc]]
ADMIN_PASSWORD=secret
DATABASE_PASSWORD=password
RABBIT_PASSWORD=password
SERVICE_PASSWORD=password
HOST_IP={{ devstack_host_ip }}
REQUIREMENTS_REPO=https://github.com/davidpestana/requirements.git